* {
    box-sizing: border-box;
  }
  
  body {
    /* background: linear-gradient(
      90deg,
      hsla(183, 46%, 74%, 1) 0%,
      hsla(183, 100%, 29%, 1) 100%
    ); */
    font-family: sans-serif;
  }
  
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  
  .cellone {
    grid-column: 1 / 3;
    grid-row: 2;

    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }

  .cell {
    background: #fff;
    border-radius: 8px;
    /* height: 100px; */
    min-height: 100px;
    width: auto;
    color: #333;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin: 5px 0;
  }

  .cellQue {
    background: none;
    border: 0;
    box-shadow: none;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    min-height: 80px !important;
  }
  
  .draggable {
    background: #ccc;
    /* height: 180px;
    width: 180px; */
    height: 100%;
    width: 100%;
    border-radius: 8px;
    position: absolute;
    cursor: grab;
    z-index: 1;
    transition: background 0.3s ease;
  }
  
  .draggable:hover {
    background: #ddd;
  }

  .queBarContainer {
    /* background: #fff; */
    width: 100%;
    height: 30px;
    /* border-radius: 50px; */
    /* margin-bottom: 20px; */
    overflow: hidden;
    padding: 10px 0 10px 20px;
  }

  .queBar {
    border: 1px solid #085ba3;
    border-radius: 10px;
    width: 40px;
    height: 10px;
    float: left;
    margin: auto 10px auto 0;
  }

  .fillQueBar {
    background: #085ba3;
  }

  .correctAns {
    background-color: green;
    color: #fff;
  }

  .wrongAns {
    background-color: red;
    color: #fff;
  }
  